<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mountzoft.hostelmate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginSelectActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity android:name=".InmatesLoginActivity" />
        <activity android:name=".ReceptionLoginActivity" />
        <activity
            android:name=".IssueStatusActivity"
            android:label="@string/title_activity_issue_status"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ReportedIssuesDetailsForInmatesActivity" />
        <activity android:name=".ReportAnIssueActivity" />
        <activity android:name=".ReportedIssuesActivity" />
        <activity android:name=".ReportedIssuesDetailsForReceptionActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NotificationService"
            android:exported="false" />

        <activity android:name=".ControlPanelActivity" />

        <receiver android:name=".WidgetForInmates">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_for_inmates_info" />
        </receiver>

        <activity android:name=".NoNetwork"></activity>
    </application>

</manifest>